@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900);

body{
	overflow-x:hidden;
	font-family:"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#loading {
   width: 100%;
   height: 100%;
   margin: 0 auto;
   position: fixed;
   display: block;
   opacity: 1;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  left: 45%;
  position: absolute;
  top: 40%;
  z-index: 100;
}

.text-muted{
	color:#777
}

.flag{
	width:24px;
	padding-bottom: 2px;
}

.text-primary{color:#fed136}

p{
	font-size:14px;
	line-height:1.75;
}

p.large{
	font-size:1.2em;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
}

p.bold{
	font-size:1.3em;
	font-weight: bold;
}

.image.fit {
	display: block;
	width: 80%;
	max-width:900px;
	margin:0 auto;
}

.image.fit img {
	width: 100%;
}

#owl-portfolio{
	margin-bottom: 4em;
}

a,a:hover,a:focus,a:active,a.active{outline:0}
a{color:#fed136}
a:hover,a:focus,a:active,a.active{color:#fec503}
h1,h2,h3,h4,h5,h6{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700}
.img-centered{margin:0 auto}
.marge{margin-bottom: 5em}
.bg-light-gray{background-color:#f7f7f7}
.bg-darkest-gray{background-color:#222}
.btn-primary{color:#fff;background-color:#fed136;border-color:#fed136;font-family:"Helvetica Neue",'Roboto',Montserrat,Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{color:#fff;background-color:#fec503;border-color:#f6bf01}
.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{background-image:none}
.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled]
.btn-primary.active{background-color:#fed136;border-color:#fed136}
.btn-primary .badge{color:#fed136;background-color:#fff}
.btn-xl{color:#fff;margin:0 auto; text-align:center;background-color:#fed136;border-color:#fed136;font-family:"Helvetica Neue",'Roboto',Montserrat,Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;border-radius:3px;font-size:18px;padding:20px 40px}
.btn-white{color:#34343c;margin:0 auto; text-align:center;background-color:#fff;border-color:#fff;font-family:"Helvetica Neue",'Roboto',Montserrat,Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;border-radius:3px;font-size:18px;padding:20px 40px}
.btn-xl:hover,.btn-xl:focus,.btn-xl:active,.btn-xl.active,.open .dropdown-toggle.btn-xl{color:#fff;background-color:#fec503;border-color:#f6bf01}
.btn-xl:active,.btn-xl.active,.open .dropdown-toggle.btn-xl{background-image:none}
.btn-xl.disabled,.btn-xl[disabled],fieldset[disabled] .btn-xl,.btn-xl.disabled:hover,.btn-xl[disabled]:hover,fieldset[disabled] .btn-xl:hover,.btn-xl.disabled:focus,.btn-xl[disabled]:focus,fieldset[disabled] .btn-xl:focus,.btn-xl.disabled:active,.btn-xl[disabled]:active,fieldset[disabled] .btn-xl:active,.btn-xl.disabled.active,.btn-xl[disabled].active,fieldset[disabled]
.btn-xl.active{background-color:#fed136;border-color:#fed136}
.btn-xl .badge{color:#fed136;background-color:#fff}
.navbar-default{background-color:#34343c;border-color:transparent}


.navbar-default .navbar-collapse{border-color:rgba(255,255,255,.02)}
.navbar-default .navbar-toggle{background-color:#fed136;border-color:#fed136}
.navbar-default .navbar-toggle .icon-bar{background-color:#fff}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{background-color:#fed136}
.navbar-default .nav li a{font-family:"Helvetica Neue",'Roboto',Montserrat,Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:200;letter-spacing:1px;color:#222; font-size: 15px;}
/*.navbar-default .nav li a:hover,.navbar-default .nav li a:focus{border-bottom: 5px #fed136 solid;outline:0}*/
.navbar-default .navbar-nav>.active>a{border-radius:0;color:#fff;background-color:#fed136}
.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus{color:#fff;background-color:#fec503}

.navbar-header img{
	max-width: 50px;
}

header{
  position:relative;
  width:100%;
  height:1000px;
  z-index:10;
  background:url('../img/assets/header-bg.jpg') #c0c0c0 bottom center fixed no-repeat;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 0;
}


header .intro-text{
	padding-top:60px;
	padding-bottom:50px
	height:100%;
	height: auto;
	text-align: right;
	color: #222;
	float: right;
	}

header .intro-text .intro-lead-in{
	/*font-family: "Lato", sans-serif;*/
	font-weight: 700;
	font-size:22px;
	line-height:22px;
	margin-bottom:25px;
	border-bottom:  #fed136 6px solid;
	padding-bottom: 5px;
	}

header .intro-text .intro-heading{
	text-transform:uppercase;
	font-weight:900;
	font-size:7em;
	line-height:8em;
	margin-bottom:25px;
	}

@media (min-width:768px){
.navbar-default{
	background-color:transparent;
	padding:25px 0;
	-webkit-transition:padding .3s;
	-moz-transition:padding .3s;
	transition:padding .3s;
	border:0;
}

.navbar-default .navbar-brand{
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
}

.navbar-default .navbar-nav>.active>a{
	border-radius:3px
}

.navbar-default.navbar-shrink{
	background-color:#34343c;
	padding:10px 0;
}

.navbar-default.navbar-shrink li a{
	color:#fff;
}

.navbar-default.navbar-shrink li a:hover, .navbar-default.navbar-shrink li a:focus{
	color:#fff;
}

.navbar-default.navbar-shrink{
	font-size:15px;
}

header .intro-text{
	padding-top:250px;
	padding-bottom:200px;
	}

header .intro-text .intro-lead-in{
	font-size:40px;
	line-height:40px;
	margin-bottom:25px
	}

header .intro-text .intro-heading{
	text-transform:uppercase;
	line-height:75px;
	margin-bottom:50px
	}

section{
	padding:80px;
	}

section h2.section-heading{
	font-size:40px;
	margin-top:0;
	margin-bottom:1.5em;
	}

section p.section-subheading{
	font-size:17px;
	font-family:Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:none;
	/*font-style:italic;*/
	font-weight:400;
	margin-bottom:3em;
}

#portfolio .portfolio-item{margin:0 0 30px}

}

@media (max-width:1112px){
	header{
	 	background-position: 10% 0;
	 	height:700px;
  		background:url('../img/assets/header-bg2.jpg') #c0c0c0 bottom center fixed no-repeat;
  		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

@media (max-width:900px){
	section h2.section-heading{
		margin-top: 2em;
		margin-bottom: 1em;
	}

	header{
	  background-position: 10% 0;
	}

	header .intro-text{
		margin-top: 5em;
		height: auto;
	}

	header .intro-text .intro-heading{
		text-align: right;
		line-height:0.8em;
		margin-bottom:20px;
		font-size: 6em;
		}

	section{
		padding:10px 0;
	}
}

@media (max-width:900px and min-width: 550px;){
	header .intro-text{
		width: 50%;
		text-align: center;
		float: none;
		margin: 0 auto;
	}

	header .intro-text .intro-lead-in{
		font-size:2em;
		padding-bottom: 20px;
		}

	header .intro-text .intro-heading{
		text-align: right;
		line-height:0.8em;
		margin-bottom:30px;
		font-size: 4em;
		}

	section{
		padding:10px 0;
	}
}

@media (max-width:550px){
	#header{
		height: auto;
	}

	header .intro-text{
		width: 90%;
		padding:1em 0 2em 0;
		height: auto;
		text-align: center;
		float: none;
		margin: 0 auto;
	}

	header .intro-text .intro-lead-in{
		font-size:2em;
		padding-bottom: 20px;
		}

	header .intro-text .intro-heading{
		text-align: center;
		line-height:0.8em;
		margin-bottom:30px;
		font-size: 3em;
		}

	section{
		padding:5px 0;
	}
}

@media (max-width: 768px){
	.navbar-default .nav li a{
		color:#fff;
		font-weight: 100;
		font-size: 14px;
		}

	.navbar-default .nav li a:hover{
		border-bottom: none;
		color: #fed136;
		}

	header .intro-text{
		margin:100px 50px 50px 0;
		height: auto;
	}
}

/*Portfolio*/	

.service-heading{
	margin:15px 0;
	text-transform:none
}
#portfolio .portfolio-item, #perso .portfolio-item{
	margin:0 0 15px;right:0
}

#portfolio .portfolio-item .portfolio-link, #perso .portfolio-item .portfolio-link{
	display:block;
	position:relative;
	max-width:400px;
	margin:0 auto
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover, #perso .portfolio-item .portfolio-link .portfolio-hover{
	background:rgba(254,209,54,.9);
	position:absolute;
	width:100%;
	height:100%;
	opacity:0;
	transition:all ease .5s;
	-webkit-transition:all ease .5s;
	-moz-transition:all ease .5s
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover, #perso .portfolio-item .portfolio-link .portfolio-hover:hover{
	opacity:1
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content{
	position:absolute;
	width:100%;
	height:20px;
	font-size:20px;
	text-align:center;
	top:50%;
	margin-top:-12px;
	color:#fff
}

#perso .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content{
	position:absolute;
	width:100%;
	height:20px;
	font-size:20px;
	text-align:center;
	top:40%;
	color:#fff
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i{margin-top:-12px}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4{margin:0}
#portfolio .portfolio-item .portfolio-caption{max-width:400px;margin:0 auto;background-color:#fff;text-align:center;padding:25px}
#portfolio .portfolio-item .portfolio-caption h4{text-transform:none;margin:0}
#portfolio .portfolio-item .portfolio-caption p{font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic;font-size:16px;margin:0}
#portfolio *{z-index:2}


/*End Portfolio*/

/*Timeline*/

.timeline{list-style:none;padding:0;position:relative}
.timeline:before{top:0;bottom:0;position:absolute;content:"";width:2px;background-color:#f1f1f1;left:40px;margin-left:-1.5px}
.timeline>li{margin-bottom:50px;position:relative;min-height:50px}
.timeline>li:before,.timeline>li:after{content:" ";display:table}
.timeline>li:after{clear:both}
.timeline>li .timeline-panel{width:100%;float:right;padding:0 20px 0 30px;position:relative;text-align:left}
.timeline>li .timeline-panel:before{border-left-width:0;border-right-width:15px;left:-15px;right:auto}
.timeline>li .timeline-panel:after{border-left-width:0;border-right-width:14px;left:-14px;right:auto}
.timeline>li .timeline-image{left:0;margin-left:0;width:80px;height:80px;position:absolute;z-index:100;background-color:#fed136;color:#fff;border-radius:100%;border:7px solid #f1f1f1;text-align:center}
.timeline>li .timeline-image h4{font-size:10px; margin:0;line-height:14px}
.timeline>li.timeline-inverted>.timeline-panel{float:right;text-align:left;padding:0 20px 0 30px}
.timeline>li.timeline-inverted>.timeline-panel:before{border-left-width:0;border-right-width:15px;left:-15px;right:auto}
.timeline>li.timeline-inverted>.timeline-panel:after{border-left-width:0;border-right-width:14px;left:-14px;right:auto}
.timeline>li:last-child{margin-bottom:0}
.timeline .timeline-heading h4{margin-top:0;color:inherit}
.timeline .timeline-heading h4.subheading{text-transform:none; font-size: 18px;}
.timeline .timeline-image a{color:white; text-decoration: none; margin:0;}
.timeline .timeline-body>p,.timeline .timeline-body>ul{margin-bottom:0}

@media (max-width:768px){
	#about{display:none;}
}

@media (min-width:768px){
	.timeline:before{left:50%}
	.timeline>li{margin-bottom:100px;min-height:100px}
	.timeline>li .timeline-panel{width:41%;float:left;padding:0 20px 20px 30px;text-align:right}
	.timeline>li .timeline-image{width:100px;height:100px;left:50%;margin-left:-50px}
	.timeline>li .timeline-image h4{font-size:13px;margin-top:16px;line-height:18px}
	.timeline>li.timeline-inverted>.timeline-panel{float:right;text-align:left;padding:0 30px 20px 20px}
	.timeline .timeline-body>p{font-size: 14px;}
}


@media (min-width:992px){
	.timeline>li{min-height:150px}
	.timeline>li .timeline-panel{padding:0 20px 20px}
	.timeline>li .timeline-image{width:150px;height:150px;margin-left:-75px}
	.timeline>li .timeline-image h4{font-size:18px;margin-top:30px;line-height:26px}
	.timeline>li.timeline-inverted>.timeline-panel{padding:0 20px 20px}}

@media (min-width:1200px){
	.timeline>li{min-height:170px}
	.timeline>li .timeline-panel{padding:0 20px 20px 30px}
	.timeline>li .timeline-image{width:170px;height:170px;margin-left:-85px}
	.timeline>li .timeline-image h4{margin-top:40px}
	.timeline>li.timeline-inverted>.timeline-panel{padding:0 30px 20px 20px}
}

/*End Time line*/


section#contact{
	background-color: #34343c;
	height: 320px;
}
section#contact .section-heading{color:#fff;}

footer{padding:25px 0;text-align:center}
footer span.copyright{line-height:40px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;text-transform:none}
footer ul.social-buttons a{margin-bottom:0;line-height:40px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;text-transform:none}
ul.social-buttons{margin-bottom:0}
ul.social-buttons li a{display:block;background-color:#34343c;height:40px;width:40px;border-radius:100%;font-size:19px;line-height:40px;color:#fff;outline:0;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
ul.social-buttons li a:hover,ul.social-buttons li a:focus,ul.social-buttons li a:active{background-color:#fed136}

.btn:focus,.btn:active,.btn.active,.btn:active:focus{outline:0}
.portfolio-modal .modal-content{border-radius:0;background-clip:border-box;-webkit-box-shadow:none;box-shadow:none;border:0;min-height:100%;padding:100px 0;text-align:center}
.portfolio-modal .modal-content h2{margin-bottom:15px;font-size:3em}
.portfolio-modal .modal-content p{margin-bottom:10px; margin-top: 20px;}
.portfolio-modal .modal-content p.item-intro{
	margin:20px 0 30px;
	font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:16px
}

.portfolio-modal .modal-content ul.list-inline{margin-bottom:30px;margin-top:0;}
.portfolio-modal .modal-content ul.list-inline li{display: block;}
.portfolio-modal .modal-content img{margin-bottom:30px}
.portfolio-modal .close-modal{position:absolute;width:75px;height:75px;background-color:transparent;top:25px;right:25px;cursor:pointer}
.portfolio-modal .close-modal:hover{opacity:.3}
.portfolio-modal .close-modal .lr{height:75px;width:1px;margin-left:35px;background-color:#222;transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);z-index:1051}
.portfolio-modal .close-modal .lr .rl{height:75px;width:1px;background-color:#222;transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);z-index:1052}
.portfolio-modal .modal-backdrop{opacity:0;display:none}::-moz-selection{text-shadow:none;background:#fed136}::selection{text-shadow:none;background:#fed136}img::selection{background:0 0}img::-moz-selection{background:0 0}body{webkit-tap-highlight-color:#fed136}

@media (max-width:750px) {
	.portfolio-modal .modal-content{padding:35px 0;}
	.portfolio-modal .close-modal{position:absolute;background-color:transparent;top:25px;right:45px;cursor:pointer}
	.portfolio-modal .close-modal .lr{height:35px;width:1px}
	.portfolio-modal .close-modal .lr .rl{height:35px;width:1px}

	#loading {
	   width: 100%;
	   height: 100%;
	   margin: 0 auto;
	   position: fixed;
	   display: block;
	   opacity: 1;
	   background-color: #fff;
	   z-index: 99;
	   text-align: center;
	}

	#loading-image {
	  left: 35%;
	  position: absolute;
	  top: 30%;
	  z-index: 100;
	}
}

.portfolio-modal .modal-content p.work{
	/*border: #fed136 2px dotted;*/
	padding: 0.1em;
	/*padding-top: 0.1em;*/
	font-weight: bold;
	width: 70%;
	margin: 0 auto;
	margin-bottom:20px;
	border-bottom: #eee 1px solid;
	font-size:15px;
}

.portfolio-modal .modal-content span.icon{
	font-weight: bold;
	font-size: 1.5em;
	margin: 0 auto;
	display: block;
	border-bottom: #eee 1px solid;
}


.twitter-tweet{
	margin:0 auto;
}

.video{
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
	animation-name:example;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-duration: 4s;
}

.video video{
	width: 80%;
}

.carousel-video{
	width: 80%;
	margin: 0 auto;
}

.carousel-video img{
	width: 23%;
}

@media (max-width:448px){
.portfolio-modal .modal-content h2{font-size:2em}

.video video{
	width: 100%;
}

.carousel-video{
	width: 100%;
	margin: 0 auto;
}

.timeline>li .timeline-image h4{margin:10px;}

.modal-body iframe{
	width: 325px;
	height: 180px;
	}}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}

@-webkit-keyframes example {
    from {opacity:0;}
    to {opacity:100%;}
}

/* Standard syntax */
@keyframes example {
    from {opacity:0;}
    to {opacity:100%;}

